[2018-08-12 18:34] dlevkov commented on #6
Also, to make it perfect, change in `tsconfig.spec.json` file: jasmine to jest

[2018-08-21 14:52] joelmuskwe opened #7 "Failing to add via npm or yarn"
running **yarn info @briebug/jest**

returns:
`error Received invalid response from npm.
✨  Done in 3.59s.`

[2018-08-22 17:03] joelmuskwe commented on #7
Please find below screenshot of errors i am getting both yarn and npm.

node -v = v8.11.3
npm -v = 5.6.0
yarn --version = 1.9.4

<img width="1286" alt="screen shot 2018-08-22 at 18 53 29" src="https://user-images.githubusercontent.com/5989937/44478192-2e9c2100-a63d-11e8-8075-c6287215e8d3.png">

[2018-08-22 18:15] schuchard commented on #7
can you try a few things.

- in your browser can you visit the url listed in the debug log on line 7? Does it return JSON?
  - https://registry.npmjs.org/@briebug%2fjest
  - https://registry.yarnpkg.com/@briebug%2fjest
- in your terminal, do either of the following return JSON for the packages
  - `curl https://registry.yarnpkg.com/@briebug%2fjest`
  - `curl https://registry.yarnpkg.com/@angular%2

[2018-08-22 18:47] joelmuskwe commented on #7
i managed to get the npm install -g @briebug/jest to work seems it doesn't like to be installed when someone is logged in to their npm accounts. i logged out and it installed but for yarn it returned the following:

➜  briebug-demo git:(master) ✗ yarn global add @briebug/jest
yarn global v1.9.4
[1/4] 🔍  Resolving packages...
[2/4] 🚚  Fetching packages...
[3/4] 🔗  Linking dependencies...
warning "

[2018-08-30 21:02] schuchard commented on #6
One thing I'm concerned about is removing the typing information for those using Protractor tests. Jasmine types are still needed for e2e while the unit tests need the Jest types obviously. I briefly tried configuring separate types for both without any luck.

Also I believe jest-preset-angular installs @types/jest https://github.com/thymikee/jest-preset-angular#installation but I need to confirm

[2018-08-31 07:08] pevel commented on #8
To reproduce the issue, you'd need to update your Angular CLI. I used 6.1.5 as mentioned in the original post. I re-confirmed that 6.1.5 doesn't add compilerOptions.module option. The question is whether it should be considered Angular CLI issue or Jest-schematic issue. What's your opinion on this?

[2018-09-13 20:17] frenetic opened #9 "Libraries generated by cli using `ng generate library` creates a subproject using Karma intead of Jest"
**Describe the bug**
After using this schematics to convert my project into a Jest one, I expected all libs I created to also be Jest projects.

**To Reproduce**
Steps to reproduce the behavior:
1. Install @angular/cli
2. npm install -g @briebug/jest
3. ng new example
4. cd example
5. ng add @briebug/jest
6. ng generate library foolib

**Expected behavior**
The library should be configured to be t

[2018-09-13 20:18] frenetic commented on #9
First of all, thank you for this schematics/helper. It is just what I was looking for.
Im new to this schematics thing. Because of that, I was not able to find a way to better identify places of this repository to provide a fix. Sorry...

[2018-09-16 04:58] schuchard commented on #7
@joelmuskwe - any changes on this issue? I'm still unable to reproduce. Regarding your last comment

I'm logged in and still unable to reproduce, yarn is working as well. We're renaming this package and archiving this repo. If the problem still persists or you have any new discoveries. Please open a new issue at https://github.com/briebug/jest-schematic. Thanks

[2018-09-16 04:58] #7 closed

[2018-09-16 05:01] schuchard commented on #6
@dlevkov I think the only remaining issue you raised is the jasmine vs jest types, right? If this is causing issues for you please open a new issue briebug/jest-schematic.

We're renaming this package to @briebug/jest-schematic and archiving this repo. Thanks.

[2018-09-16 05:05] schuchard commented on #9
Hi @frenetic, thank you using this schematic and letting us know about the libs issue. That's something we'd like to see too!

We're renaming this package to @briebug/jest-schematic and archiving this repo. Would you mind opening this issue there so we can track it? https://github.com/briebug/jest-schematic. Thanks

[2018-09-16 05:05] #9 closed

[2018-09-17 01:08] frenetic opened #1 "Libraries generated by cli using `ng generate library` creates a subproject using Karma intead of Jest"
Reopen from https://github.com/briebug/jest/issues/9.
At first it was a bug report... now I think it is a feature request

**Is your feature request related to a problem? Please describe.**
After using this schematics to convert my project into a Jest one, I expected all libs I created to also be Jest projects.

**Describe the solution you'd like**
After running all the steps to convert my project

[2018-09-19 15:13] schuchard commented on #1
Thanks for moving this issue over. So you're talking about and Angular CLI library not an Nx library correct?

[2018-09-20 13:10] frenetic commented on #1
Yes. NG CLI only.

[2018-10-28 12:41] maxime1992 opened #2 "Not working with an Angular 7 project?"
**Describe the bug**
With the latest from Angular (cli, core, etc) in v7 it seems to be broken.

The error is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new project using CLI v7
2. Add Material or another lib to have some imports
3. Launch jest

**Desktop (please complete the following information):**
 - OS: [e.g. Mac, Windows]: Ubuntu
 - Node version: [e.g. 8.11.3]: 10

[2018-10-29 15:25] schuchard commented on #2
Hi @maxime1992, after adding material did you try adding `@material` to the transformIgnorePatterns - https://github.com/thymikee/jest-preset-angular#adjust-your-transformignorepatterns-whitelist. I'll try to reproduce myself soon.

[2018-10-29 16:30] maxime1992 commented on #2
Arf no. I did not. (Sorry, new to all that conf). Will do.

[2018-11-08 12:55] sylvainleduby commented on #2
This issue also happens on an Angular 6 project just created by Angular CLI:
[code]

I think the schematic should change this two elements:
- Default `compilerOptions.module` in `tsconfig.json` is `es2015` but Jest needs `commonjs`: set `commonjs` in `tsconfig.spec.json`
- Add minimal `transformIgnorePatterns` in `jest.config.js`:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create

[2018-11-11 12:19] Foxandxss commented on #2
Proposed solution by @sylvainleduby does the trick. Thanks

[2018-11-13 20:14] schuchard commented on #2
Thanks for the help debugging @sylvainleduby and @Foxandxss. Making the module change does appear to fix the issue with ng7 apps. I've got a branch with that change that I'll work on getting out soon.

For the `transformIgnorePatterns` property, I think I'll add the prop by default with no arguments in the hopes that it helps users, but I think it will be hard to know what is a good set of default

[2018-11-13 20:16] schuchard commented on #2
In the meantime the solution for this issue is to set the `tsconfig.spec.json.compilerOptions.module` = `commonjs`

[2018-11-14 04:00] #2 closed, assigned to nobody

[2018-11-14 20:13] eloiqs opened #4 "Invalid JSON character: "\n" at 59:34."
**Describe the bug**
I followed the read me and when running the `add` schematics it printed `Invalid JSON character: "\n" at 59:34.`

**To Reproduce**
Steps to reproduce the behavior:
1. install the package globally
2. run the add schematic in an angular project

**Expected behavior**
The schematic runs

**Desktop (please complete the following information):**
 - OS: windows
 - Node version: 8.12

[2018-11-15 06:10] schuchard commented on #4
Thank you for reporting. This schematic changes two json files, package.json and tsconfig.spec.json. Are you able to determine which file the error is coming from based on the line number (59)? Changes to tsconfig.spec.json are new so thats the likely culprit.

[2018-11-15 21:28] eloiqs commented on #4
This is my tsconfig.spec.json
[code]
The tsconfig which it extends
[code]
So, even combined, there is no line 59 😕

[2019-01-30 18:31] inorganik opened #6 "Deprecation warning, install issue"
Great work on this! Finally testing it out. With current `jest.config.js` file:

`setupTestFrameworkScriptFile: '<rootDir>/src/setup-jest.ts',`

throws a deprecation warning: "Option "setupTestFrameworkScriptFile" was replaced by configuration "setupFilesAfterEnv", which supports multiple paths."

It should be replaced with:

`setupFilesAfterEnv: ['<rootDir>/src/setup-jest.ts'],`

I also noticed t

[2019-01-31 16:15] anthonymjones commented on #6
I'll take a look at this.

[2019-01-31 16:23] schuchard commented on #6
Thanks for reporting. Should be a simple change.

Regarding install, did either of these install methods not work for you?
https://github.com/briebug/jest-schematic/blob/master/README.md#usage-

[2019-01-31 16:50] schuchard commented on #6
fixed by #7

[2019-01-31 16:50] #6 closed, assigned to nobody

[2019-01-31 17:25] anthonymjones commented on #1
I'll look into this.

[2019-02-26 09:03] dwiyatci commented on #2
Hey guys, I'm also currently working on an Angular 7 project, but still got pretty much the same error even though I've included the library I depend on (`lodash-es`) to my `transformIgnorePatterns`. Not sure what I'm missing here. 😕

**jest.config.js**
[code]

**Error**
[code]

[2019-02-27 10:18] dwiyatci commented on #2
Turns out I have to leverage the TS compiler to allow compiling JS files, too. Ironically, it's actually also been there in the `jest-preset-angular` docs all this time (https://github.com/thymikee/jest-preset-angular#allow-js-files-in-your-ts-compileroptions). :sweat_smile:

Maybe it's worth it to turn on the option, i.e. `"allowJs": true`, by default in the schematics?

[2019-03-11 07:11] dimpu opened #8 "error TS6053: File '<app>/src/test.ts' not found."
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
1) Create new angular app with angular-cli
2) ng add @briebug/jest-schematic
3) npm run test

**Desktop (please complete the following information):**
 - OS: [Mac]
 - Node version: [v10.10.0]
 - NPM or Yarn version [npm 6]
 - App type [ Angular CLI]
 - Angular version [e.g. @angular/core: "7.2.0"]

[2019-03-14 11:26] david-dasilva commented on #8
I had the same problem.
Resolved by modifying **src/tsconfig.spec.json** (see comment in file)
[code]

[2019-04-17 19:32] inorganik commented on #8
The schematic actually removes that file, so it should probably update tsconfig.spec.json as well.

[2019-04-25 04:17] zoltan-nz commented on #8
This repo's `yarn test` is actually failing, so the repo's test harness is right. ;)
Travis Test: https://travis-ci.com/zoltan-nz/jest-schematic

Sorry, I just now realised, that @dimpu already opened a pull request for fixing this issue... meanwhile I also worked on a fix... anyway, hope this problem can be solved soon...

[2019-04-26 12:58] #8 closed, assigned to nobody

[2019-05-15 09:57] ChristianKohler opened #11 "Add support for projects structure"
**Is your feature request related to a problem? Please describe.**
We have the following folder structure generated with the cli using this commands:

[code]
When we then run the schematics it sets the root path to 'src'

**Describe the solution you'd like**
Add jest config to project

**Describe alternatives you've considered**
Do it manually

**Additional context**
Folderstructure after schemati

[2019-05-22 13:21] schuchard commented on #11
Hi @ChristianKohler, unfortunately this is expected. Currently this schematic doesn't account for the possibility of multiple projects/applications or libraries. This will need to be a future improvement that relies on the angular.json mappings to add correct Jest setup. We'll keep this issue open as a reminder. Thanks for reporting.

[2019-05-29 10:58] yjaaidi opened #12 "Issue with Angular 8: `src/tsconfig.spec.json` => `tsconfig.spec.json`"
**Describe the bug**
Using the schematic with Angular 8 then running the tests will produce the following error:
[code]

This is due to the fact that Angular 8 moves `tsconfig.spec.json` out of `src` while `jest-angular-preset` is expecting `tsconfig.spec.json` to be in `src`.

Maybe `jest-angular-preset` should automatically detect `tsconfig.spec.json` location but it might be easier to handle th

[2019-05-29 16:37] schuchard commented on #12
Thanks for putting this through an early Angular 8 test and for investigating the issue and resolutions.

[2019-05-31 08:52] yjaaidi commented on #12
Thank you for the schematic 😊

[2019-06-17 16:27] itayod commented on #12
@yjaaidi I took a look into it and I think it's an issue in `jest-preset-angular`

[2019-06-18 15:35] yjaaidi commented on #12
I just opened the issue on **jest-preset-angular** too https://github.com/thymikee/jest-preset-angular/issues/286

[2019-06-28 14:03] brandonmerritt opened #13 "Hangs on "add" to ng new project in Angular 8"
**Describe the bug**
When running the "add" schematic everything hangs.
Angular CLI: 8.0.4
Node: 10.15.3
OS: darwin x64
Angular: 8.0.3
... animations, common, compiler, compiler-cli, core, forms
... language-service, platform-browser, platform-browser-dynamic
... router

Package                           Version
-----------------------------------------------------------
@angular-devkit/architect

[2019-07-18 19:44] acharlop commented on #4
Was there every any solution to this?
I'm getting a similar issue `Invalid JSON character: "-" at 76:5.` no other output

[2019-07-19 18:22] quincarter commented on #12
Also getting this same issue in an angular 8 project.

[2019-07-24 23:02] ceciliazcx commented on #12
Also getting this same issue in an angular 8 project. +1

[2019-07-30 13:48] eloiqs commented on #4
I think we ended up using https://github.com/just-jeb/angular-builders/tree/master/packages/jest instead :/

[2019-08-01 14:44] ronlawrence3 opened #14 "toMatchSnapshot fails to work"
**Describe the bug**
Adding a toMatchSnapshot() assertion in a test on a fresh angular 6 project gets an error.

**To Reproduce**
Steps to reproduce the behavior:
With @angular/cli@6:
[code]
Error message is:
[code]

**Expected behavior**
I expected these to work once project is converted to jest

**Desktop (please complete the following information):**
 - OS: Linux
 - Node version: 8.11.3
 - NPM

[2019-08-01 16:47] ronlawrence3 commented on #14
I think the key to fixing this is to replace `jasmine` with `jest` in the tsconfig.spec.json file, and add @types/jest. (and possibly remove @types/jasmine from the package.json) I will see if I have time to submit a patch if this works..

[2019-09-17 18:09] aijazkhan81 commented on #12
+1 On Ng7

[2019-09-17 19:57] Halt001 opened #15 "Does not remove src/test.ts from tsconfig.spec.json"
**Describe the bug**
After running `ng g @briebug/jest-schematic:add` there is still a reference to `src/test.ts` left in `tsconfig.spec.json`. (This is with ng8)

The reason is that your code does indeed remove `src/test.ts` but looks for `test.ts` (not `src/test.ts`) in the `tsconfig.spec.json` file.

I tried making a PR because that describes the problem and the possible fix the best but I coul

[2019-09-25 11:19] rgunczer commented on #15
same here, "src/test.ts", is still in "tsconfig.spec.json" after manually removing I still have issue running tests:

 FAIL  src/app/app.component.spec.ts
  ● Test suite failed to run

    File not found: <rootDir>/src/tsconfig.spec.json (resolved as: C:\flanker\angular\jestApp\src\tsconfig.spec.json)

[2019-10-01 14:32] #12 closed, assigned to nobody

[2019-10-01 14:32] #15 closed, assigned to nobody

[2019-10-01 15:03] schuchard commented on #13
Hi @brandonmerritt, thanks for reporting. Please try out the [latest version](https://github.com/briebug/jest-schematic/releases/tag/v2.0.0) to see if you're still seeing an issue.

This schematic installs the latest version of packages which relies on an internet connection [here](https://github.com/briebug/jest-schematic/blob/master/src/jest/index.ts#L69). There may be an opportunity to timeout

[2019-10-09 10:51] rgunczer commented on #14
@ronlawrence3 replacing jasmine with jest seems to work. However in VSCode TS still complains. Eg.
expect(service.getPersons).toBeInstanceOf(Function);
Property 'toBeInstanceOf' does not exist on type 'Matchers<any>'.

[2019-10-09 13:48] ronlawrence3 commented on #14
It looks like with a fresh project from the latest cli, and the latest schematic from this project, things seem to work for me now.

But as @rgunczer  says, VScode still doesn't like it. if I add jest to the main tsconfig.json, it is ok with it, so vscode must be using that tsconfig.

[2019-10-15 15:35] schuchard opened #18 "Invalid config warning - "hosts""
**Describe the bug**
 it looks like the jest schematic may be using config that is no longer valid for Jest

**Additional context**
[code]
cc: @jrista

[2019-12-03 05:40] fireflysemantics opened #21 "Thanks for this Awesome Schematic!!"
Just wanted to say Thanks!! for this awesome schematic and I wrote a quick blog post on it in case you wanted to add it to the documentation section:

https://medium.com/@ole.ersoy/unit-testing-angular-with-jest-b65888ff33f6

[2019-12-05 20:14] fireflysemantics opened #22 "Support for libraries?"
**Is your feature request related to a problem? Please describe.**
Running the schematic on an Angular application project seems to be working fine, but when I run it on a library project it fails.

Here are some sample errors that I'm seeing:

[code]
It looks like jest does not understand typescript in this case.  I'm assuming that we just have to add the normal Jest / Typescript setup.

**Descri

[2019-12-05 20:31] fireflysemantics commented on #22
I just followed these instructions for adding testing Typescript with Jest:

https://basarat.gitbooks.io/typescript/docs/testing/jest.html

And now the project compiles fine.  So I guess it's just a matter of having the schematic install the dependencies and adding the `jest.config.js` file.

[2019-12-05 20:48] fireflysemantics commented on #22
This blog describes how I got it working:

https://medium.com/@ole.ersoy/unit-testing-your-angular-library-project-with-jest-42429a8716eb

[2019-12-06 04:07] schuchard commented on #22
Thanks for looking into this. Library support is something I'd like to add at some point. I'll keep this issue open as a reminder.

[2020-02-19 08:15] Robin-Hoodie opened #24 "Use jest type instead of jasmine types"
**Is your feature request related to a problem? Please describe.**
As Jest types are built on top of It would probably be a better idea to use Jest types instead of the default Jasmine types Angular comes with. We're already adding `@types/jest` to `package.json`, but it doesn't seem like we're actually using it.

**Describe the solution you'd like**

After adding this schematic with `ng add`, we

[2020-03-17 12:19] menaheme commented on #4
in my case it turned out to be a packge.json npm script that contained the following string `\\nsomefolder` , the characters '\n' verbatim were in the file causing the error.
adding the file name that is the problem to the error string would have helped.

Also not having a "test" script in the packge.json seems to cause a similar error

[2020-05-16 10:03] praveeno opened #28 "Cannot read property 'architect' of undefined"
**Describe the bug**
Skipping installation: Package already installed
Cannot read property 'architect' of undefined

**To Reproduce**
initially trying to install, not working

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/19618730/82116865-3f35e880-978a-11ea-9201-d35895598721.png)

**Desktop (please complete the foll

[2020-06-13 05:31] mvollebregt opened #30 "Make ng test work"
**Is your feature request related to a problem? Please describe.**

This is an awesome schematic. It would be even more awesome, if you could run the jest specs by entering `ng test`. After adding the jest-schematic, ng test does not run the tests anymore.

**Describe the solution you'd like**

Make the jest-schematic:

- install @angular-builders/jest (`npm i -D jest @types/jest @angular-builders

[2020-06-26 08:57] t1m4lc commented on #14
A quick fix :
[code]
you can create an helper ` const snap = (fixture: any): any => (<any>expect(fixture)).toMatchSnapshot();
`
And use it : `snap(fixture);`

[2020-07-09 13:29] afluegge opened #32 "Running in an Angular 10 project fails"
**Describe the bug**
It is not possible to replace Karma with Jest using this tool.

**To Reproduce**
Steps to reproduce the behavior:
1. Run 'ng add @briebug/jest-schematic'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/946209/87045737-84a9eb80-c1f8-11ea-80a2-908cb5a9616b.png)

[2020-07-11 03:26] fireflysemantics commented on #32
Same here.

[2020-07-11 11:28] JanGerritsen commented on #32
Same here.
Added Text of error message so this ticket can be easily found through searches:

[2020-07-24 09:16] tevenFr commented on #32
same here
[code]

[2020-08-09 11:31] Unknown47Dream commented on #32
any progress on this?

[2020-08-14 15:58] brianpooe commented on #32
+1

[2020-08-14 16:50] Kexplx commented on #32
same

[2020-08-15 20:26] schuchard commented on #32
Thanks for the report, I'm able to reproduce too. I'm starting to put time into updating this schematic so that it works with Angular 10.

[2020-08-20 16:01] fireflysemantics commented on #32
@schuchard YOU ROCK!!  This schematic is awesome!!

[2020-08-20 22:02] strattonwhisler commented on #24
Thanks for the report.

I have a fix in progress for using `types: ["jest", "node"]` instead of `types: ["jasmine", "node"]` in `tsconfig.spec.json`.

Unfortunately, `@types/jasmine` and `@types/jasminewd2` cannot be removed without causing issues with E2E testing since Protractor is configured to use Jasmine. At the moment, Protractor doesn't support Jest (see https://github.com/angular/protracto

[2020-08-21 05:57] Robin-Hoodie commented on #24
@inventer99 Is it not an option to use `types: ["jest", "jasmine", "node"]` in that case?

[2020-08-21 15:18] strattonwhisler commented on #24
@Robin-Hoodie I see how my reply may have been confusing.

Your originally suggested solution for the `types` entry in `tsconfig.spec.json` is correct. e2e and unit tests use different `tsconfig.json` files, so the unit tests can utilize `types: ['jest', 'node']` while the e2e tests utilize `types: ['jasmine', 'jasminewd2', 'node']`. We don't need to merge the two.

My comment was in regard to the

[2020-08-23 00:52] americoneto1 commented on #32
@schuchard this PR fixes this issue? https://github.com/briebug/jest-schematic/pull/35

[2020-08-23 08:39] brianpooe commented on #32
@americoneto1 Do you know when will your PR be merged?

[2020-08-23 08:41] brianpooe commented on #30
@mvollebregt why wont you create a PR for this seems like you already know what the solution is, amd see if they agree with it for a merge.

[2020-08-25 03:37] schuchard commented on #21
Thank you for creating this learning material. I'll add it to the docs.

[2020-08-25 03:44] #32 closed, assigned to schuchard

[2020-08-25 03:56] #21 closed, assigned to nobody

[2020-08-25 04:06] schuchard commented on #32
Hi everyone, version `2.2.0` has been published and should now work when running `ng add @briebug/jest-schematic` against Angular 10 projects.

👏 A big thank you to Ludovic L'Hours (@madbrain) for adjusting the schematic to work with Angular 10 🎉

[2020-08-27 21:55] drkhannah opened #39 "Custom Validator not found"
**Describe the bug**
Im trying to use a customValidator but i keep getting an error saying the file is not found on first run and in AOT production build

**To Reproduce**
Steps to reproduce the behavior:
add custom validator to app module providers, run app, get compile error that custom validator is not found

**Expected behavior**
First non production run build and AOT build should compile when

[2020-08-27 21:58] #39 closed, assigned to nobody

[2020-08-28 17:52] assisgui commented on #28
I'm facing similar error, but the message is "Could not read package.json" after the installation with yarn:

![image](https://user-images.githubusercontent.com/13773375/91600218-fb807c80-e93d-11ea-96e9-2d8984dabe22.png)

[2020-08-29 02:09] schuchard commented on #28
Are either of these projects public?

[2020-08-29 04:35] assisgui commented on #28
No, sorry, my project is private :(

[2020-09-02 09:04] mvollebregt commented on #30
I had a short look at it before, but I had some trouble finding out how the schematics worked. I'll see if I have some more time later to dive into that. In the meanwhile, I just wanted to explain the improvement, in case someone happened to be able to fix it easily.

[2020-09-02 12:45] schuchard commented on #4
This might be resolved in the latest PR https://github.com/briebug/jest-schematic/pull/37/files#diff-99dba52ba3c99a2cb3d95d1ada2821f8R278 where we looses the "strictness" of the JSON parsing. Can anyone test the current schematic to see if it's fixed?

[2020-09-02 12:47] schuchard commented on #18
This should be fixed with the latest release #37

[2020-09-02 12:47] #18 closed, assigned to nobody

[2020-09-02 13:20] schuchard commented on #30
Please try `ng add @briebug/jest-schematic@3.0.0-0` which adds this functionality

[2020-09-02 13:21] schuchard commented on #28
Please see if `ng add @briebug/jest-schematic@3.0.0-0` solves the issue

[2020-09-02 13:22] schuchard commented on #24
I've looped this change into a larger PR. Please see if `ng add @briebug/jest-schematic@3.0.0-0` solves the issue

[2020-09-02 13:23] schuchard commented on #22
Please see if `ng add @briebug/jest-schematic@3.0.0-0` solves the issue

[2020-09-02 13:23] schuchard commented on #11
Please see if `ng add @briebug/jest-schematic@3.0.0-0` solves the issue

[2020-09-02 13:23] schuchard commented on #14
Please see if `ng add @briebug/jest-schematic@3.0.0-0` solves the issue

[2020-09-02 13:54] ChristianKohler commented on #11
Yes it works 👍 Thank you @schuchard

[2020-09-02 13:54] #11 closed, assigned to nobody

[2020-09-25 12:18] #30 closed, assigned to nobody

[2020-09-25 12:55] #22 closed, assigned to nobody

[2020-09-25 12:55] #24 closed, assigned to nobody

[2020-09-25 12:56] schuchard commented on #28
This should be fixed, please re-open if the issue exist in the latest release of 3.0.0

[2020-09-25 12:56] #28 closed, assigned to nobody

[2020-09-25 12:57] schuchard commented on #4
This should be fixed in the latest 3.0.0 release with https://github.com/briebug/jest-schematic/pull/37/files#diff-99dba52ba3c99a2cb3d95d1ada2821f8R278. Please reopen if not.

[2020-09-25 12:58] #13 closed, assigned to nobody

[2020-09-25 12:58] schuchard commented on #14
This should be fixed with the latest 3.0.0 release. Please reopen if not.

[2020-09-25 12:58] #14 closed, assigned to nobody

[2020-09-30 14:49] ezebc182 commented on #1
Is this resolved?

[2020-09-30 15:09] schuchard commented on #1
This feature has not been built. Generating code with the CLI will still use the defaults. However, this schematic is in a better position to offer this functionality in the future.

[2020-10-10 23:59] joeeames opened #42 "error: "Cannot set property 'builder' of undefined""
**Describe the bug**
When running either "ng add @briebug/jest-schematic" or "ng g @briebug/jest-schematic:add" the error "Cannot set property 'builder' of undefined" is given

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://github.com/joeeames/UnitTestingAngularLikeABoss/tree/jest-solution
2. clone, make sure you're on the jest-solution branch.
3. npm i
4. execute either of the

[2020-10-15 15:07] schuchard commented on #42
Thanks for reporting @joeeames, I'll investigate.

[2020-10-25 03:17] #42 closed, assigned to nobody

[2020-10-25 03:20] schuchard commented on #42
I've updated the tests to check for your type of example, which was an angular.json project config without a test builder path. I tested against your repo and it ran successfully. Let me know if you still have an issue.

[2020-11-06 09:15] lokeshduraivel opened #44 "Not able to get the code coverage (Angular 8)"
I used this schematic and setup the Jest in my frontend application (Angular 8).
However, am not able to get the code coverage part with the below code.

ng test --no-watch --code-coverage

Error :
Cannot find module 'karma'
Error: Cannot find module 'karma'

[2020-11-30 01:57] schuchard commented on #44
What version of Jest are you on? The latest [docs](https://jestjs.io/docs/en/cli#--coverageboolean) show the command as:

```ng test --no-watch --coverage```

I'm not sure why you're getting Karma errors though.

[2020-12-08 20:34] schuchard opened #45 "add image to README"
Add the Briebug Jest logo to the README similar to the briebug/cypress-schematic

[2020-12-29 10:19] fireflysemantics opened #47 "@briebug/jest-schematic updates dependencies?"
This dependency is added to `dependencies` in `package.json`.

[code]

Just curious whether it should be added to `devDependencies` instead?

[2021-01-25 15:08] markusmo commented on #4
I just used the latest version of this project and I had the same issue:
[code]
It seems to happen in my `package.json` but at said line and curser position there is only a whitespace.

[2021-01-29 11:47] sod opened #49 "test replacing ts-jest with @swc-node/jest"
We don't use this package, but we use jest & angular and maybe you are interested.

We replaced ts-jest with [@swc-node/jest](https://yarnpkg.com/package/@swc-node/jest). Cold cache `jest` went from 60s to 7s.

[swc](https://swc-project.github.io/) is a typescript to javascript compiler that also supports annotations & metadata export, thus works with angular jit. swc is written in rust and is ~70

[2021-02-04 18:23] schuchard commented on #4
For those still having problems, what operation systems are you using?

[2021-02-04 18:28] chrisleyva commented on #4
I'm so sorry. I realized that I am in the @jest-schematic repo. My apologies. I'm using `cypress-schematic`. I'll delete my comment and post in the correct repo. My apologies @schuchard

[2021-02-08 09:58] markusmo commented on #4
I am using Windows 10
![image](https://user-images.githubusercontent.com/1172204/107203926-5abddf00-69fc-11eb-8bf5-88e3db4d1bcc.png)

But my issues I think where, that `\t` and `\n` made some issues. I guess it has to do something with my line endings. which are set to `CRLF` and will be only be changed, when I commit to `LF`.

[2021-04-05 09:57] distante commented on #47
I am under the same impression `@briebug/jest-schematic` should not be in `dependencies`

[2021-04-11 01:03] lmkerr opened #51 "Jest Schematic + Cypress Schematic Conflicts"
**Describe the bug**
When running both the BrieBug/Jest & BrieBug/Cypress Schematics, `ng test` throws error `Cannot find name 'cy'.`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Angular project with the AngularCLI
2. Add BrieBug/Jest Schematic
3. Add BrieBug/Cypress Schematic
4. Run `ng test`
5. Notice error `Cannot find name 'cy'.`

**Expected behavior**
Tests should succee

[2021-04-11 12:57] lmkerr commented on #51
It seems like even though the `tsconfig.spec.json` is targetting the `src` directory, it still wants to run through files named `.spec` in the `cypress` directory.

[2021-04-17 17:23] lmkerr commented on #51
Added `modulePathIgnorePatterns: ['<rootDir>/cypress/'],` to jest.config.js and now all gucci. not sure why its not ignoring the other spec folder by default

[2021-04-17 17:23] #51 closed, assigned to nobody

[2021-06-03 18:46] fireflysemantics opened #62 "Fails when added to Angular 12 Library Project"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Angular 12 project with --create-application=false
2. Create a library ... ng g library somelib
3. Add @briebug/jest-schematic
4.
**Expected behavior**
It should work

**Desktop (please complete the following information):**
 - OS: [e.g. Mac, Windows] Mac
 - Node version: [e.g. 8.11.3] v16.2.0
 - NPM or

[2021-06-06 10:07] abelfubu commented on #62
I does work for me with a new angular 12 app
However I am getting this error
![image](https://user-images.githubusercontent.com/65258220/120920559-b012b000-c6bf-11eb-8ee4-9443913f2186.png)

[2021-06-07 18:10] fireflysemantics commented on #62
I'm trying to run it on a Library project.  I changed the title to reflect this.  I tried it again just to make sure.  This is everything on the console.

[code]

[2021-06-07 23:25] tiago-ilha opened #63 "Error appear when i'm trying to execute script responsable to run tests."
**Describe the bug**
TypeError: Jest: a transform must export something.
    at /Users/tiagooliveira/workstation/testandoJesSchematics/node_modules/@jest/transform/build/ScriptTransformer.js:386:19
    at async Promise.all (index 0)
    at async ScriptTransformer.loadTransformers (/Users/tiagooliveira/workstation/testandoJesSchematics/node_modules/@jest/transform/build/ScriptTransformer.js:378:5)

[2021-06-10 17:39] HamzaMoiyadi commented on #24
Hey,
I just installed version 3.1.0, which has the `jest` type added in the `tsconfig.spec.json` correctly, however I am still getting the following issue. Am I doing something wrong here?

![Screenshot_20210610_230754](https://user-images.githubusercontent.com/17302799/121571480-b3e85e80-ca40-11eb-97bb-1bdfcd9f3e94.png)

[2021-06-22 23:27] fireflysemantics commented on #62
Hmmm ... This works now ... Looks like it fixed itself ...
[code]

[2021-06-24 21:28] fireflysemantics opened #65 "Module <rootDir>/setup-jest.ts in the setupFilesAfterEnv option was not found"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new Angular project `ng new test --create-application=false`
2. Create a test library `ng g library test`
3. Create some tests
4. Try running them `cd projects/test && npx jest`
Right now I get this:

[code]

**Expected behavior**
It should run the tests

[2021-06-24 21:45] fireflysemantics commented on #65
I regenerated the project one more time, and now it works, so closing.

[2021-06-24 21:45] #65 closed, assigned to nobody

[2021-07-08 02:12] Luguito opened #66 "BUG: Cannot destructure property 'test' of '(intermediate value)(intermediate value)(intermediate value)' as it is undefined."
Hello everyone!

I try to used you schematic but he fired a bug error and i dont get it.

**To Reproduce*
Just doing **ng add @briebug/jest-schematic**

This is my tsconfig.spec.json

[code]

This is my tsconfig.json
[code]

**Expected behavior**
Well i expect the normal behavior, delete/remove karma files/dependecies and install jest

**Desktop (please complete the following information):**
 - OS

[2021-09-06 12:57] rkennel opened #72 "npm test fails due to improper types (string vs array) in angular.json"
**Describe the bug**
``npm test`` fails due to improper types (string vs array) in angular.json

**To Reproduce**
Steps to reproduce the behavior:

1. ``ng new my-app``
2. ``ng add @angular-eslint/schematics``
3. ``ng add @briebug/jest-schematic``
4. ``npm test``
[code]
5. fix test/polyfills to be string array instead of string
6. ``npm test``
[code]

**Expected behavior**
Tests should have run su

[2021-09-06 13:08] ShaneYu commented on #72
I get exactly the same issue, I was doing the steps you've mentioned above identically.

I had to change both those properties under the test builder options to be arrays in order to get it working, but is a little odd as those properties everywhere else throughout the angular json file are single strings (not arrays).

[2021-10-07 22:28] Lonli-Lokli commented on #1
Is there any options except for the Nx?

[2021-10-11 04:43] gmaughan opened #75 "Cannot read property 'filter' of undefined error"
**Describe the bug**

Error thrown "Cannot read property 'filter' of undefined" when installing and running.

**To Reproduce**

I'm using the following command to execute:

[code]

I do not have any packages installed globally.

Output is as follows:

[code]

Installation of the package succeeds. Running the add schematic with:

[code]

Results in:

[code]

**Expected behavior**

Not expecting any

[2021-10-26 12:12] rainerhahnekamp opened #76 "Doesn't work with Angular 12.2 anymore"
**Describe the bug**
When I create a new Angular application and apply the schematics, the tests immediately fail.

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**
 - OS: Windows
 - Node version: 14.16.0
 - NPM or Yarn version: NPM 6.14.11
 - App type Angular CLI
 - Angular version 12.2

[2021-10-29 07:51] spieIbug commented on #76
This problem is linked to angular.json validation
You can fix this by changing the test build configuration
`"polyfills": "src/polyfills.ts",` -> `"polyfills": ["src/polyfills.ts"],`
`"inlineStyleLanguage": "scss"`, -> `"inlineStyleLanguage": ["scss"],`
Here is the test config that should be generated
[code]

[2021-11-11 10:19] mmonteiroc opened #77 "Angular 13 - NOT SUPPORTED: keyword "id", use "$id" for schema ID"
**Describe the bug**
Trying to run `ng add @briebug/jest-schematic`
Get the following error
[code]

SAME ISSUE WITH THE GLOBALLY INSTALLED
**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/28816737/141280938-9532c46f-7123-4535-a959-e91d7caead26.png)

**Expected behavior**
That works as in the gif of your readme file
![image](https://user-images.gi

[2021-11-11 10:45] mmonteiroc commented on #77
CONFIRMED WITH ANGULAR 12 WORKS

[2021-11-14 18:35] snutij commented on #77
I reproduce this issue on new project (generated by `ng new`), with angular@13.0.0

[2021-11-19 16:34] patou commented on #77
I created a PR #79 to correct all issues with angular 13.

[2021-11-20 14:05] inorganik commented on #76
Could this be an issue with the [angular jest builder](https://www.npmjs.com/package/@angular-builders/jest)? Not sure where schema validation happens. I also had to change "assets" into an array of strings.

[2021-11-24 00:23] fireflysemantics commented on #77
Got the same problem:

[code]

[2021-12-06 10:15] patou commented on #77
I publish the correction on a new package npm :
https://www.npmjs.com/package/@patoudss/jest-schematic

Juste do :
[code]

[2021-12-06 10:16] patou commented on #76
I publish the correction on a new package npm :
https://www.npmjs.com/package/@patoudss/jest-schematic

Juste do :
[code]

[2021-12-12 16:49] fireflysemantics commented on #77
This works!  @patou THANKS!!

The only thing is that for library projects, I get this error:

[code]

Which can be fixed by just installing `ts-jest`:

[code]

I now noticed that `ts-jest` is having issues with importing from angular package format library dependencies:

https://stackoverflow.com/questions/70326350/jest-encountered-an-unexpected-token-error-when-using-ts-jest

Anyone else seeing t

[2021-12-13 16:48] inorganik opened #82 "Fix preset import path for jest-preset-angular in setup-jest.ts"
Several versions back, `jest-preset-angular` changed the location of the preset used in `setup-jest.ts`

**Before**
import 'jest-preset-angular';

**Current**
import 'jest-preset-angular/setup-jest';

The schematic needs to the import path updated to the current location, otherwise you get errors like the following because zone isn't included:

[code]

**To Reproduce**
1. Run the schematic on a pr

[2021-12-14 02:39] schuchard commented on #66
Hi, in this example do you have the `test` field in your angular.json file at `projects.[projectName].architect.test`?

[2021-12-14 03:57] #47 closed, assigned to nobody

[2021-12-14 03:57] #62 closed, assigned to nobody

[2021-12-14 03:57] #72 closed, assigned to nobody

[2021-12-14 03:57] #75 closed, assigned to nobody

[2021-12-14 03:57] #76 closed, assigned to nobody

[2021-12-14 03:57] #77 closed, assigned to nobody

[2021-12-14 03:57] #82 closed, assigned to nobody

[2021-12-14 13:08] Luguito commented on #66
[code]

Hello. Yes i got it.

Thank you for anwser !

🔥

[2021-12-14 14:23] schuchard commented on #66
Great!

[2021-12-14 15:38] Luguito commented on #66
We got a misunderstood, the bug persist. I just show you i got  `test` inside `projects.[projectName].architect`.

Thank you 🔥

[2021-12-14 19:40] schuchard commented on #66
Sorry, i see now. Is this project public? If not can you create a public version for me to test against?

[2021-12-15 08:36] SchroederSteffen commented on #75
Hi,
Thanks for the v4 update @schuchard.
Unfortunately, at least for us, the error `Cannot read property 'filter' of undefined` still occurs with @briebug/jest-schematic v4 and Angular v13 (everything up-to-date).
Anyone else having the same issue?

[2021-12-15 19:29] schuchard commented on #75
Are you still getting an error about the schema $id along with the filter error?

I'm unable to reproduce with this schematics latest release and angular 13 on a mac.
![Screen Shot 2021-12-15 at 1 27 41 PM](https://user-images.githubusercontent.com/10186449/146252099-77bcf5d8-b9dc-4731-9166-962bf42d0ca8.png)

[2021-12-17 12:11] SchroederSteffen commented on #75
No, that error is gone. 👍

I forgot to mention that it's an existing project that already had the latest v3 installed. I was hoping to re-execute the schematic to ensure everything is set up properly. For this, I had to delete the `setup-jest.ts` & `test-config.helper.ts` files. (I'm on Windows.)
We have a project for which the jest tests fail, while it works for another one that looks pretty much

[2022-03-10 13:56] MaximeKoitsalu opened #103 "Running `ng add @briebug/jest-schematic` does not install jest-preset-angular"
**Describe the bug**
Create new angular project. Run `ng add @briebug/jest-schematic`. Try and run `npm run test`.

**To Reproduce**
Steps to reproduce the behavior:

1. Create new angular project.
2.  Run `ng add @briebug/jest-schematic`
3.  Try and run `npm run test`.
4. See error

**Expected behavior**
Should run tests

**Screenshots**
![image](https://user-images.githubusercontent.com/8655862/

[2022-03-14 13:42] gfsd3v commented on #75
@schuchard  Thanks for the awesome work.

I'm also having the same error as @SchroederSteffen basically I upgraded my angular workspace v12 > v13 and jest stopped working, so I decided to delete everything related to jest, all the files, packages, caches, package/yarn.lock, etc and tried to execute the schematics again:

<details>
<summary>Screenshots</summary>

![image](https://user-images.github

[2022-03-18 08:05] marcel-goldammer commented on #103
Cannot confirm this behavior. jest-preset-angular is installed with the devDependency @angular-builders/jest.

[2022-03-23 08:30] kklimczak commented on #75
I also tried to install 4.0 version on Angular 13 and I have the same problem. Thre project was bumped from v8.

[2022-03-23 10:18] cr1979 opened #104 "Unable to install jest-schematic on Angular 12"
**Describe the bug**
Installing @briebug/jest with "ng add @briebug/jest" is not working on an existing project. I will receive following errors:
PS C:\Users\xxx\development\s4c_update> ng add @briebug/jest

ℹ Using package manager: npm
✔ Found compatible package version: @briebug/jest@1.3.1.
✔ Package information loaded.

The package @briebug/jest@1.3.1 will be installed and executed.
Would you l

[2022-03-23 11:53] slavlazar commented on #103
Were you able to sort this out? Running into the exact same issue with same setup... only difference is I'm on Node version 16.13.0

[2022-04-06 07:14] Shereef opened #108 "address lodash vulnerabilities in dependency `schematics-core`"
**Describe the bug**
Lodash has many vulnerabilities and they all go away if we merge https://github.com/schuchard/ng-schematics/pull/36
**To Reproduce**
Steps to reproduce the behavior:

1. npm install or enable @dependabot

**Expected behavior**
Merge https://github.com/schuchard/ng-schematics/pull/36 and mitigate security risks

**Additional context**
I have published https://www.npmjs.com/pack

[2022-05-24 01:44] Shereef commented on #108
https://github.com/schuchard/ng-schematics/pull/36 was merged and this is no longer necessary

[2022-05-24 01:44] #108 closed, assigned to nobody

[2022-06-07 14:24] thogrego opened #111 "Validation Error: Preset jest-preset-angular not found."
**Describe the bug**
After running the command "ng add @briebug/jest-schematic" inside of my angular app and then running "ng test", I receive an error:

Validation Error:

  Preset jest-preset-angular not found.

  Configuration Documentation:
  https://jestjs.io/docs/configuration

**To Reproduce**
1. Create a new ng app via CLI
2. Navigate to new app folder via CLI
3. execute CLI command "ng ad

[2022-08-04 14:20] Yujwala opened #114 "Jest throws an error "TypeError: tslib_1.__classPrivateFieldSet is not a function" when i try to do npm test after migrating from Karma to Jest using schematic"

[2022-08-04 14:21] Yujwala commented on #114
TypeError: tslib_1.__classPrivateFieldSet is not a function
    at new NgJestTransformer (/Users/aplklat492496/Documents/OHL/oha/oha-web-frontend/node_modules/jest-preset-angular/build/ng-jest-transformer.js:18:17)
    at Object.createTransformer (/Users/aplklat492496/Documents/OHL/oha/oha-web-frontend/node_modules/jest-preset-angular/build/index.js:5:30)
    at /Users/aplklat492496/Documents/OHL/

[2022-08-25 20:09] pmirandaarias commented on #114
@Yujwala Did you solve it? I'm getting the same error, and also I'm trying to migrate from Karma to Jest

[2022-09-09 08:02] Waterstraal commented on #111
I have this exact same issue, using angular 14.2.1

Have you been able to work around this?

[2022-09-09 08:11] Waterstraal commented on #111
To get it working, I did the following:

`npm install -D jest jest-preset-angular`

in `setup-jest.ts`:
change `import 'jest-preset-angular/setup-jest';` to `import 'jest-preset-angular';`

[2022-09-09 08:18] Waterstraal commented on #111
I still see some issues in `test-config.helper.ts`. Since Angular 14.2 `TestBed.configureCompiler` returns a void instead of  `TestBedStatic`.

![image](https://user-images.githubusercontent.com/2691730/189305004-f359fd62-677b-4a9f-8378-1c9c3c603bc7.png)

[2022-09-09 08:22] Waterstraal commented on #111
When I delete `test-config.helper.ts`, everything still seems to run fine. Is this file still needed for something?

[2022-10-04 09:07] DasOhmoff commented on #111
I also have this same issue with the `test-config.helper.ts` file. How can this be fixed? Just deleting the file seems a little risky for me. @schuchard What is the current status of this and how can this be fixed?

[2022-10-24 02:49] schuchard commented on #111
Can you test with [latest v5.0.0](https://github.com/briebug/jest-schematic/releases/tag/v5.0.0) and let me know if that helps? `test-config.helper.ts` has been removed.

[2022-10-24 02:50] schuchard commented on #114
Can you test with [latest v5.0.0](https://github.com/briebug/jest-schematic/releases/tag/v5.0.0) and let me know if that helps?

[2022-10-24 02:52] schuchard commented on #104
Looks like you may be using the first version (`@briebug/jest`) of this package which has since been renamed (`@briebug/jest-schematic`).

Can you remove the old package and run `ng add @briebug/jest-schematic`

[2022-10-24 16:33] onkobu opened #121 "Introduces moderate security risk through ajv"
**Describe the bug**
When adding jest-schematic >2.1.1 npm audit reports a moderate security risk.

**To Reproduce**
Steps to reproduce the behavior:

1. Init an empty Angular project, e.g. ng new jest-schematic-repro
2. cd into the project dir
3. `ng add @briebug/jest-schematic` according to README
4. `npm audit` afterwards

[code]

Recommends `npm audit fix --force` which is hard to plan ahead w

[2022-11-18 10:55] Waterstraal opened #127 "Running `ng add @briebug/jest-schematic` on an Angular 15 project throws error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

1. `npx @angular/cli@15 new angular-with-jest-test`
2. `cd .\angular-with-jest-test\`
3. `ng add @briebug/jest-schematic`
4. The following error is thrown: `Cannot read properties of undefined (reading 'filter')`

**Expected behavior**
Jest is configured for an Angular 15 project

**Screenshots**
![image](h

[2022-11-18 18:07] schuchard commented on #127
#128 should fix the issue. However, deployment is blocked by https://github.com/sindresorhus/np/pull/666

[2022-11-18 18:55] schuchard commented on #104
Please reopen if you're able to reproduce with `ng add @briebug/jest-schematic`

[2022-11-18 18:55] #104 closed, assigned to nobody